.footer {
  background: linear-gradient(to right, #FAF0E6, #F5F5DC);
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* Corrected the unit from 'ps' to 'px' */
}

.footer__container {
  padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
  color: var(--title-color);
}

.footer__title {
  text-align: center;
  margin-bottom: var(--mb-2);
}

.footer__link {
  color: var(--title-color-dark);
}

.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-2);
  font-weight: 600;
  font-size: 1.5vw;
  flex-wrap: nowrap; /* Ensure items stay on one line */
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  flex-wrap: nowrap; /* Ensure items stay on one line */
}

.footer__social-link {
  width: 2.3rem;
  height: 2.5rem;
  background-color: var(--title-color);
  color: var(--container-color);
  font-size: 1.125rem;
  padding-left: 0.6rem;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center; /* Ensures the icon is centered within the link */
}

.footer__social-link:hover {
  background-color: var(--title-color-dark);
}

.footer__copy {
  display: block;
  margin-top: 4.5rem;
  color: var(--title-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

/* Responsive adjustments */
@media screen and (max-width: 992px) {
  .footer__list {
    font-size: 1vw;
  }

  .footer__social {
    font-size: 1rem;
  }

  .footer__social-link {
    width: auto;
    height: auto;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .footer__list {
    font-size: var(--small-font-size);
    column-gap: 1rem; /* Adjust column gap for smaller screens */
  }

  .footer__social {
    column-gap: 0.75rem; /* Adjust column gap for smaller screens */
  }
}
